.feedback-form {
  display: flex;
  flex-direction: column;
  margin: 24px auto 0;
  padding: 20px;
  max-width: 408px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}
.feedback-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.64px;
  text-align: left;
}
.feedback-form input,
.feedback-form textarea {
  margin-bottom: 16px;
  padding: 8px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #808080;
  font-size: 14px;
  resize: none;
}
.feedback-form input:focus,
.feedback-form textarea:focus {
 outline: none;
}
.feedback-form input:hover,
.feedback-form textarea:hover {
  border: 1px solid #000;
}
.feedback-form button {
  align-self: flex-start;
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #4e75ff;
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  border: none;
  cursor: pointer;
}

.feedback-form button:hover {
  background-color: #6c8cff;
}
