.gallery {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 24px;
    justify-content: center;
    margin: 24px auto 0;
}

.gallery img {
    width: 360px;
    height: 200px;
    object-fit: cover;
    display: block;
    transition: transform 300ms ease-in-out;
}

.gallery img:hover,
.gallery img:focus {
    transform: scale(1.05);
}